@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
  color: $mainFontColor;
  font-weight: $mainFontWeight;
  min-height: 100vh;
  @media screen and (max-width: $desktopWidth) {
		font-size: 14px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 14px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body{
  font-family: $mainFont;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  background-color: $bg-back-gr;
}

button{
  font-family: $mainFont;
  padding: 0;
  background-color: transparent;
}

.container{
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 0px 15px;
  @media screen and (min-width: $smDesktopWidth) {
    max-width: $smDesktopWidth;
  }
  @media screen and (min-width: $desktopWidth) {
    max-width: $desktopWidth;
  }
  @media screen and (min-width: $lgdesktopWidth) {
    max-width: $desktopWidth;
  }
}
// Modules
@import "modules/header.scss";
@import "modules/logo.scss";
@import "modules/menu.scss";
@import "modules/banner.scss";
@import "modules/news-con.scss";
@import "modules/news-grid.scss";
@import "modules/side-bar.scss";
@import "modules/load-more.scss";
@import "modules/seacrh.scss";
@import "modules/add-info.scss";
@import "modules/resent-post.scss";
@import "modules/tag.scss";
@import "modules/footer.scss";
@import "modules/social.scss";
@import "modules/copyright.scss";