.tag{
    font-size: rem(13);
    color: $bg-tag;
    border-radius: 2px;
    border: 1px solid $bg-tag-bord;
    padding: rem(5) rem(12);
    transition: 0.5s;
    &_active, &:hover{
        background-color: $mainFontColor;
        color: $default-color;
        border: 1px solid $mainFontColor;
    }
}